@using Hearth.Services
@inherits LayoutComponentBase

<div class="ml-app">
    @* Side Bar *@
    <div class="ml-sidebar">
        @if (activeMenu == "finances")
        {
            <FinanceNavMenu />
        }
        else
        {
            <HomeNavMenu />
        }
    </div>
    @* Top Bar & App Body *@
    <main class="ml-main">
        <article class="m-body">
            @Body
        </article>
    </main>
</div>

@code {
    string activeMenu = "finances";

    private void HandleSideMenuChange(string subMenu)
    {
        activeMenu = subMenu;
    }
}
