.ml-app {
/*    border: 4px dashed blue;*/
    display: flex;
    flex-direction: row;
    width: 100%;
}


.ml-sidebar {
    width: 17em;
}

.ml-main {
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 17rem); /* shrink width */
    margin-left: 0; /* no offset */
}

.m-nav {
    background-color: rgb(21, 27, 31);
    height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
}

.n-home-text, .n-finances-text{
    align-self: center;
    margin-right: 2rem;
}

.h-text-inactive, .f-text-inactive {
    opacity: 0.7;
    color: var(--background-color-light);
    font-weight: var(--font-weight-l);
    font-size: 2rem;
    transition: 200ms;
}

.h-text-inactive:hover, .f-text-inactive:hover {
    opacity: 1;
}

.h-text-active, .f-text-active {
    opacity: 1;
    color: var(--background-color-light);
    font-weight: var(--font-weight-l);
    font-size: 2rem;
    transition: 200ms;
}

.h-text-active:hover, .f-text-active:hover {
    opacity: 0.9;
}

.m-body {
    border-top: 3px solid var(--error-color);
    padding: 1rem;
}

