.loan-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /*    background-color: lightcoral;*/
    height: 100%;
    position: relative;
}

.lp-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /*    background-color: palegoldenrod;*/
}

.lp-h-header {
    position: absolute;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    height: 3rem;
/*        background-color: aliceblue;*/
    font-size: 1.5rem;
}

.lp-h-h-icon {
    margin-right: 1rem;
}


.lp-h-toast {
    display: flex;
    width: 14rem;
    height: 1.5rem;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--warning-color);
    border-bottom-left-radius: 8px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
}

@media(max-width: 1300px) {
    .lp-h-toast {
        width: 1.25rem;
    }

    .lp-h-t-text {
        display: none;
    }
}

.lp-h-t-icon {
    color: var(--primary-color-light);
}

/* ASSET Body */

.a-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; /* Add this - creates positioning context for absolute children */
}

.a-b-body-left {
    width: 55%;
    text-align: center;

}

.a-b-b-header {
}

.a-b-b-payment {
    font-size: clamp(20px, 2.5vw, 70px);
    text-align: center;
    color: var(--success-color);
    font-weight: 700;
}

.a-b-body-right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    border-top-left-radius: 5rem;
    border: var(--text-color-dark) 2px solid;
    border-radius: 8px;
    background-color: antiquewhite;
}

.purchase-price-and-expected {

}

.a-b-b-purchase-price {
    font-style: italic;
}

.a-b-b-expected-rate {
    font-size: clamp(25px, 2.5vw, 70px);
    text-align: center;
    color: var(--success-color);
    font-weight: 700;
}

.a-b-b-expected-rate-small {
    font-size: clamp(25px, 1.5vw, 50px);
    text-align: center;
    color: var(--success-color);
    font-weight: 700;
}

.a-b-b-header-small {
    font-size: clamp(20px, 1.25vw, 70px);

}

.value-change-per-month{
    font-style: italic;
    color: var(--success-color);
}

.a-body-small {
    display: flex;
    margin-top: 25%;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; /* Add this - creates positioning context for absolute children */
}

.a-b-body-top {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}


.a-b-body-bottom {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    border-top-left-radius: 5rem;
    border: var(--text-color-dark) 2px solid;
    border-radius: 8px;
    background-color: antiquewhite;
}

/* Arrow s */

.arrow-btn {
    position: absolute; /* Add this - takes button out of flow */
    background-color: transparent;
    border: none;
    height: 3rem;
    aspect-ratio: 1;
    border-radius: 100%;
    transition: 300ms;
    z-index: 10; /* Add this - ensures buttons stay on top */
}

    /* Position left arrow */
    .arrow-btn:first-of-type {
        left: 1rem; /* Distance from left edge */
    }

    /* Position right arrow */
    .arrow-btn:last-of-type {
        right: 1rem; /* Distance from right edge */
    }


.arrow-btn:enabled:hover{
    cursor: pointer;
    background-color: var(--text-color-dim);
}

/* The Arrow Tab Buttons */
.arrow-btn:disabled{
    opacity: 0;
}

/* No Loan Panel */

.no-loan {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
}

.nl-check{
/*    background-color: lightblue;*/
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--success-color);

}

.nl-text{
    align-self: center;
    margin-top: 0.5rem;
/*    background-color: lightcoral;*/
    font-style: italic;
}

/* Small Panel */

.loan-name-small {
    font-size: clamp(20px, 1.5vw, 30px);
}

.payment-small {
    font-size: clamp(25px, 2vw, 30px);
}

.bar-container-small {
    padding-bottom: 1rem;
    height: 1rem;
}