@namespace Hearth.Finances.Parts
@using ApexCharts
@using Hearth.Models

<div class="liquid-asset-graph-main">

	<ApexChart TItem="LiquidAccountSlice"
			   @ref="accountChart"
			   Options="options">

		<ApexPointSeries TItem="LiquidAccountSlice"
						 Items=@(assetData)
						 Name="labels"
						 SeriesType="SeriesType.Pie"
						 XValue="@(e => e.Label)"
						 YValue="@(e => e.Value)"
						 ShowDataLabels />

	</ApexChart>

</div>

@code {
	[Parameter] public List<Account> LiquidAccounts { get; set; } = new();
	
	// < Graph Variables >
	private class LiquidAccountSlice
	{
		public string Label { get; set; }
		public decimal Value { get; set; }
	}

	private ApexChartOptions<LiquidAccountSlice> options = new()
	{
		DataLabels = new DataLabels
		{
			Enabled = true,
		},
		Tooltip = new Tooltip
		{
			Y = new ()
			{
				Formatter = "function (val) { return '$' + val.toLocaleString(); }"
			}
		}
	};
	private ApexChart<LiquidAccountSlice> accountChart;

	private List<LiquidAccountSlice> assetData => LiquidAccounts
		.Select(a => new LiquidAccountSlice
		{
			Label = a.Name,
			Value = a.Is_Credit_C 
				? (a.Balance_Available ?? 0m) 
				: (a.Balance_Current ?? 0m)
		})
		.ToList();

	private List<LiquidAccountSlice> reportDataCategories = new()
	{

	};
	// < Graph Variables />
}
