/* UpcomingPayments.razor.css */

.upcoming-payments-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.up-header {
    font-size: 1.5rem;
    color: var(--text-color);
}

.up-body {
/*    background-color: aliceblue;*/
}

    .up-body ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4rem 4rem 4rem;
        gap: 1rem;
    }

.up-loan-item {
/*    background-color: lightcoral;*/
    border: 3px solid var(--primary-color-light);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* Status-based styling */
/*    .up-loan-item[data-status="upcoming"] {
        background-color: #FFD966;
        border-color: #333;
    }

    .up-loan-item[data-status="overdue"] {
        background-color: #FFD966;
        border-color: #333;
    }

    .up-loan-item[data-status="paid"] {
        background-color: #5FD46E;
        border-color: #333;
    }

    .up-loan-item[data-status="none"] {
        background-color: #FFFFFF;
        border-color: #333;
    }*/

.up-l-date {
/*    border: 2px solid orange;*/
    width: 3rem;
    text-align: center;
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.up-l-name {
/*    border: 2px solid green;*/
    width: 100%;
    text-align: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.up-l-payment {
/*    border: 2px solid blue;*/
    width: 9rem;
    text-align: right;
    padding-right: 0.5rem;
}

