.loan-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /*    background-color: lightcoral;*/
    height: 100%;
}

.lp-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /*    background-color: palegoldenrod;*/
}

.lp-h-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    height: 3rem;
    /*    background-color: aliceblue;*/
    font-size: 1.5rem;
}

.lp-h-h-icon {
    margin-right: 1rem;
}


.lp-h-toast {
    display: flex;
    width: 14rem;
    height: 1.5rem;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--warning-color);
    border-bottom-left-radius: 8px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
}

@media(max-width: 1300px) {
    .lp-h-toast {
        width: 1.25rem;
    }

    .lp-h-t-text {
        display: none;
    }
}

.lp-h-t-icon {
    color: var(--primary-color-light);
}
/* LP Body */
.lp-body {
    height: 100%;
    /*    background-color: paleturquoise;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.lp-b-body {
    display: flex;
    flex-flow: column nowrap;
}

.lp-b-b-header {
    align-self: center;
}

.lp-b-b-payment {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: clamp(30px, 3vw, 70px);
    color: var(--error-color);
    font-weight: 700;
    height: 50%;
    /*    background-color: gray;*/
}
/* LP Footer */
.lp-footer {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 1rem;
}

/* The Num */
.lp-f-green-num-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 1.25rem;
    position: relative;
}

.green-num {
    position: absolute;
    left: 60%; /* This Value will change dynamically */
    transform: translateX(-50%); /* Center it on the intersection point */
    white-space: nowrap;
    font-size: 0.875rem;
    font-weight: 700;
    font-style: italic;
    color: var(--primary-color-light);
    margin-bottom: 0.5rem;
}

/* The Bar */
.lp-f-bar-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 1.5rem;
}

.green-bar {
    height: 100%;
    width: 60%; /* This Value will change dynamically */
    background-color: var(--success-color);
    border-radius: 8px 0 0 8px;
}

.red-bar {
    height: 100%;
    width: 40%; /* This Value will change dynamically */
    background-color: var(--error-color);
    border-radius: 0 8px 8px 0;
    opacity: 0.35;
}

/* Red number styling */
.lp-f-red-num-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.25rem;
    margin-top: 0.25rem;
}

.red-num {
    text-align: center;
    font-size: 0.875rem;
    font-style: italic;
}

.per-tag {
    font-size: 1rem;
    font-style: italic;
    font-weight: 700;
    color: var(--primary-color-light);
    padding-top: 1rem;
    padding-left: 0.5rem;
    align-self: center;
    letter-spacing: 1.5px;
}

.arrow-btn{
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 3rem;
    aspect-ratio: 1;
    border-radius: 100%;
    transition: 300ms;
}

.arrow-btn:enabled:hover{
    cursor: pointer;
    background-color: var(--text-color-dim);
}

/* The Arrow Tab Buttons */
.arrow-btn:disabled{
    opacity: 0;
}

/* No Loan Panel */

.no-loan {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
}

.nl-check{
/*    background-color: lightblue;*/
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--success-color);

}

.nl-text{
    align-self: center;
    margin-top: 0.5rem;
/*    background-color: lightcoral;*/
    font-style: italic;
}