@namespace Hearth.Finances.Parts
@using Hearth.Icons
@using Hearth.Models
@using System.Globalization

<div class="upcoming-payments-main">
	<div class="up-header">
		@(DateTime.Now.Month)'s Payments
	</div>
	<div class="up-body">
		<ul>
			@foreach (var loan in Loans)
			{
				<li class="up-loan-item">
					<div class="up-l-date">
						@if(loan.Due_Date != null)
						{
							loan.Due_Date.Value.ToString("MMMM", CultureInfo.InvariantCulture);
						}
					</div>
					<div class="up-l-payment">
						@loan.Payment_C.ToString("C2")
					</div>
					<div class="up-l-name">
						<IconBox Size="16" /> @loan.Name
					</div>
				</li>
			}
		</ul>
	</div>
</div>

@code {
	[Parameter] public List<Loan> Loans { get; set; } = new();
}
