@namespace Hearth.Finances.Parts
@using Hearth.Services
@using Hearth.Models
@using Hearth.Parts
@using Hearth.Data
@using Hearth.Icons
@inject HearthDbContext _dbContext

@* AddEditCategoryModal *@

<div>
    <HearthModal Title="@(Edit ? ("Edit Category") : ("Add Category"))"
                 Open="@ShowModal"
                 OnClose="@CloseModal"
                 Width="normal">
        <div class="main">
            <div class="section-1">
                <div class="s1-header">
                    <div class="s1-h-name">
                        <HearthInput Type="text" Label="Name" @bind-Value="inputName" />
                    </div>
                    <div class="s1-h-color">
                        <input @bind="inputHexColor" type="color" class="color-picker" />
                    </div>
                </div>
                <div class="s1-body">
                    <div class="s1-b-description">
                        <HearthInput Type="text" Label="Description" @bind-Value="inputDescription" />
                    </div>
                </div>
                <div class="s1-footer">
                    <div class="s1-f-boxes">
                        <div class="s1-f-need">
                            <HearthCheckbox Label="Need" Editable=true @bind-Value="inputIsNeed" />
                        </div>
                        <div class="s1-f-ignore">
                            <HearthCheckbox Label="Ignore" Editable=true @bind-Value="inputIgnore" />
                        </div>
                        <div class="s1-f-income">
                            <HearthCheckbox Label="Income" Editable=true @bind-Value="inputIncome" />
                        </div>
                    </div>
                    <div class="s1-f-add">
                        @if (Edit)
                        {
                            <HearthButton Label="Update" BgColor="green" OnClick="HandleUpdate" />
                        }
                        else
                        {
                            <HearthButton Label="Add" BgColor="green" OnClick="HandleAdd" />
                        }
                    </div>
                </div>
            </div>
            <div class="section-2">
            </div>
        </div>
    </HearthModal>
</div>

@code {
    // bound value
    [Parameter] public bool ShowModal { get; set; }

    // event for two-way binding
    [Parameter] public EventCallback<bool> ShowModalChanged { get; set; }
    // If null, the modal goes into "Add" mode
    [Parameter] public Category? CategoryToEdit { get; set; }
    public bool Edit
    {
        get
        {
            if (CategoryToEdit != null) return true;
            else return false;
        }
    }

    private string inputHexColor = string.Empty;
    private string inputName = string.Empty;
    private string inputDescription = string.Empty;
    private bool inputIsNeed = true;
    private bool inputIgnore = false;
    private bool inputIncome = false;

    // This needs to be changed at somepoint for optimization
    protected override void OnParametersSet()
    {
        if (CategoryToEdit != null)
        {
            inputHexColor = CategoryToEdit.Hex_Color ?? string.Empty;
            inputName = CategoryToEdit.Name ?? string.Empty;
            inputDescription = CategoryToEdit.Description ?? string.Empty;
            inputIsNeed = CategoryToEdit.Is_Need;
            inputIgnore = CategoryToEdit.Ignore;
            inputIncome = CategoryToEdit.Income;
        }
    }

    private async Task CloseModal()
    {
        // update our state
        ShowModal = false;

        // notify parent (triggers @bind-ShowModal)
        await ShowModalChanged.InvokeAsync(ShowModal);
    }

    private async void HandleAdd()
    {

        Category category = new()
        {
            Name = inputName,
            Description = inputDescription,
            Is_Need = inputIsNeed,
            Ignore = inputIgnore,
            Hex_Color = inputHexColor,
            Income = inputIncome
        };
        // This function already checks if values are correct so no need to do it here
        CategoryFunctions.Add(_dbContext, category);

        await CloseModal();
        return;
    }

    private async void HandleUpdate()
    {
        if (CategoryToEdit != null)
        {
            Category updates = new()
            {
                Name = inputName,
                Description = inputDescription,
                Is_Need = inputIsNeed,
                Ignore = inputIgnore,
                Hex_Color = inputHexColor,
                Income = inputIncome
            };
            // This function already checks if values are correct so no need to do it here
            CategoryFunctions.Update(_dbContext, CategoryToEdit.Id, updates);

            await CloseModal();
        }

        return;
    }

}