.loading-spinner {
    border: 7px solid rgba(0, 0, 0, 0.1);
    border-top-color: var(--info-color);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    box-sizing: border-box;
}

.auto-center {
    height: 40rem;
/*    border: red solid 1px;*/
    display: flex;
    justify-content: center;
}

.l-center {
    align-self: center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
