:root {
    --primary-color-light: rgb(52, 48, 52); /* light-charcoal-black #2a262a */
    --primary-color-dark: rgb(21, 27, 31); /* dark-charcoal-black */
    --primary-color-lighter: rgb(72, 68, 72);
    --success-color: rgb(0, 196, 65); /* emerald-green #00C441 */
    --success-color-light: rgb(0, 216, 85);
    --error-color-dark: rgb(255, 111, 76); /* fire-red #FF8360 */
    --error-color: rgb(255, 131, 96); /* fire-red #FF8360 */
    --error-color-faint: rgb(255, 131, 96, 0.5); /* fire-red #FF8360 */
    --warning-color: rgb(232 226 136);
    
    --info-color-light: rgb(0, 201, 255);
    --info-color: rgb(0, 171, 255); /* cool blue #00ABFF */
    --info-color-dark: rgb(0, 72, 143);
    --text-color-dim: rgb(235, 235, 235); /* off-white #EBEBEB */
    --text-color-bright: rgb(255, 255, 255); /* white */

    --font-size-xl: 4.0vw;
    --font-size-l: 3.5vw;
    --font-size-ml: 2.8vw;
    --font-size-m: 2vw;
    --font-size-ms: 1.6vw;
    --font-size-s: 1.25vw;
    --font-size-xs: 0.8vw;
    --font-weight-xl: 1000;
    --font-weight-l: 700;
    --font-weight-m: 500;
    --background-color-light: rgb(245, 245, 245); /* off white */
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Global Styles for the whole software*/
html, body {
    font-weight: 400;
    font-style: normal;
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    all: unset; /* wipes out all browser defaults */
    display: inline-block;
    font-family: Poppins;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

h2 {
    padding: 0;
    margin: 0;
}

.panel-hearth {
    border: var(--text-color-dim) 2px solid;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-section {
    border: 2px var(--primary-color-light) solid;
    border-top: 4px var(--primary-color-light) solid;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Red Italic Text */
.text-error {
    color: red;
    font-style: italic;
}
/* Blue Bold Text */
.text-info-h {
    color: var(--info-color);
    font-weight: 700;
}

.hearth-icon-container {
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Not Sure Anymore, I think this is for labels*/
.input-text-primary {
    width: 20rem;
    height: 2.25rem;
}

    .input-text-primary:focus {
        border-color: rgb(103, 178, 244, 0.5);
    }

.label-primary {
    font-weight: 600;
    font-size: 22px;
}

/* Blue Dropdown */
.select-primary {
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: var(--info-color);
    border-color: var(--primary-color-light);
    border-radius: 7px;
    padding: 0.1rem;
    padding-left: 0.6rem;
    transition: 300ms;
}

    .select-primary:hover {
        cursor: pointer;
        opacity: 0.7;
    }
/* Makes Dropdown Bigger */
.select-large {
    width: 15rem;
    height: 2rem;
}

.select-medium {
    width: 8rem;
    height: 2rem;
}

.select-small {
    width: 5rem;
    height: 2rem;
}

/* Title Header */
.header-primary {
    font-size: 38px;
    font-weight: 600;
/*    background-color: red;*/
}
/* Subtitle Header */
.header-secondary {
    font-size: 28px;
    font-weight: 500;
}
/* Header */
.header-tertiary {
    font-size: 20px;
    font-weight: 500;
}

/* Tool tip */

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: help;
}

    .tooltip-container .tooltip-text {
        visibility: hidden;
        width: 220px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 6px;
        position: absolute;
        z-index: 1;
        bottom: 125%; /* Position above the label */
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 0.875rem;
    }

        .tooltip-container .tooltip-text::after {
            content: "";
            position: absolute;
            top: 100%; /* Arrow points down to the label */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #333 transparent transparent transparent;
        }

    .tooltip-container:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }

/* ========== Icons ========== */


/* ------------------------------------- idk beyond this point ------------------------------------- */
.content {
    padding: 0;
}
/* idk */
h1:focus {
    outline: none;
}
/* idk */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}
/* idk */
.invalid {
    outline: 1px solid #e50000;
}
/* idk */
.validation-message {
    color: #e50000;
}
/* idk */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        /*        background-color: #f7f7f7;*/
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}
