@page "/finances/assets"
@using Hearth.Data
@using Hearth.Models
@using Hearth.Models.CTO
@using Hearth.Services
@using Hearth.Icons
@using Hearth.Finances.Parts
@using Hearth.Parts
@inject HearthDbContext _dbContext

@* Debt Page's Toolbar *@
<HearthToolbar SettingsBtn="false" OnManage="OpenManageLoanModal" OnAdd="OpenAddLoanModal" />
@* Page Main *@
<main class="assets-main">
	<section class="assets-section-1">
		<div class="d-s1-grid-container">
			@* Mortgage *@
			<div class="d-s1-panel panel-hearth" style="grid-area: mt">
				<AssetPanel Assets="@property" />
			</div>
			@* Car Loan *@
			<div class="d-s1-panel panel-hearth" style="grid-area: cl">
				<AssetPanel Assets="@vehicle" />
			</div>
			@* Other Loan 1 (Student) *@
			<div class="d-s1-panel panel-hearth" style="grid-area: o1">
			</div>
			@* Other Loan 2 *@
			<div class="d-s1-panel panel-hearth" style="grid-area: o2">
			</div>
			@* Payments *@
			<div class="d-s1-panel" style="grid-area: pm">
			</div>
			@* Loan Graph *@
			<div class="d-s2-panel" style="grid-area: grph">
			</div>
		</div>
	</section>
</main>

@code {
	private List<Asset> allAssets = new List<Asset>();
	private List<Asset> property = new List<Asset>();
	private List<Asset> vehicle = new List<Asset>();

	// private List<Loan> studentLoans = new List<Loan>();
	// private List<Loan> otherLoans = new List<Loan>();

	protected override async Task OnInitializedAsync()
	{
		await RefreshData(false);
	}

	// --- Modals
	// Manage
	private bool showManageLoanModal = false;

	private void OpenManageLoanModal()
	{
		showManageLoanModal = true;
	}

	private void CloseManageLoanModal()
	{
		showManageLoanModal = false;
	}

	// Add
	private bool showAddLoanModal = false;

	private void OpenAddLoanModal()
	{
		showAddLoanModal = true;
	}

	private void CloseAddLoanModal()
	{
		showAddLoanModal = false;
	}

	private async void OnAddLoanModalChanged(bool value)
	{
		showAddLoanModal = value;
		if (showAddLoanModal == false)
		{
			// await RefreshData(); TODO possibly
		}
		return;
	}

	// Edit
	private Loan? selectedLoan = null;
	private bool showEditLoanModal = false;

	private void OpenEditLoanModal(Loan loan)
	{
		selectedLoan = loan;
		showEditLoanModal = true;
	}

	private void CloseEditLoanModal()
	{
		showEditLoanModal = false;
	}

	private async void OnEditLoanModalChanged(bool value)
	{
		showEditLoanModal = value;
		if (showEditLoanModal == false)
		{
			await RefreshData();
		}
		return;
	}

	// Delete
	private bool showDeleteModal = false;

	private void OpenDeleteModal(Loan loan)
	{
		selectedLoan = loan;
		showDeleteModal = true;
	}

	private void CloseDeleteModal()
	{
		showDeleteModal = false;
	}

	private async void DeleteLoan(int loanId)
	{
		LoanFunctions.Remove(_dbContext, loanId);
		CloseDeleteModal();
		await RefreshData();
		return;
	}

	// Refresh ---
	private async Task RefreshData(bool stateHasChanged = true)
	{
		allAssets = AssetFunctions.GetAll(_dbContext);

		property = allAssets
			.Where(p => p.Asset_Type == ASSET_TYPE.Property)
			.ToList();

		vehicle = allAssets
			.Where(c => c.Asset_Type == ASSET_TYPE.Vehicle)
			.ToList();

		// studentLoans = allLoans
		// 	.Where(sl => sl.Loan_Type == LOAN_TYPE.Student_Loan)
		// 	.ToList();

		// otherLoans = allLoans
		// 	.Where(o => o.Loan_Type != LOAN_TYPE.Mortgage && o.Loan_Type != LOAN_TYPE.Car_Loan && o.Loan_Type != LOAN_TYPE.Student_Loan)
		// 	.ToList();
		@if (stateHasChanged)
		{
			StateHasChanged();
		}
	}
}

