.category-main {
    margin-bottom: 2rem;
    max-width: 100%;
}

.s1-header {
    display: flex;
    justify-content: space-between;
}

.s1-h-button {
    align-content: center;
    margin-right: 1vw;
}

.s1-b-graph {
    max-width: 100%;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: 1vw;
    border: 2px solid var(--info-color-light);
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 51, 153, 0.15); /* softer and more diffused */
}

.category-section-2 {
    margin-top: 1rem;
}

.manage-modal-main {
}

.m-s1-ul {
    margin-top: 1rem;
    font-size: var(--font-size-ms);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.m-s1-li {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.75rem;
    border: 2px solid var(--primary-color-light);
    border-radius: 12px;
    transition: 250ms;
    
}

.li-name {
    width: 80%;
    padding-left: 1rem;
    border-radius: 12px;
    transition: 300ms;
    display: flex;
    justify-content: center;

}

    .li-name:hover {
        cursor: pointer;
        background-color: var(--text-color-dim);
    }

.li-delete {
    width: 13%;
    display: flex;
    justify-content: center; 
    background-color: var(--error-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    transition: 250ms;
}


    .li-delete:hover {
        cursor: pointer;
        background-color: red;
    }

.add-category-li {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 2px solid var(--info-color);
    color: var(--info-color);
    font-weight: 700;
    width: 30%;
    margin-left: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.75rem;
    padding-left: 1rem;
    transition: 450ms;
    border-radius: 12px;
}

    .add-category-li:hover {
        cursor: pointer;
        background-color: var(--info-color);
        color: var(--text-color-bright);
    }
