.container {
}

.select {
    font-size: 1.25vw;
    width: 100%;
    height: 2.5rem;
    outline: none;
    border: 3px solid var(--primary-color-light);
    border-radius: 10px;
    padding-left: 0.5rem;
    transition: 175ms;
}

    .select:focus {
        border: 3px solid var(--info-color);
        transition: 175ms;
    }

.label {
    font-weight: 700;
    font-size: 1rem;
}

.option {
    background-color: var(--primary-color-light);
    color: var(--text-color-dim);
    padding: 0.5rem;
}

    .option:focus {
        background-color: red;
    }
