.hearth-pager-main{
/*    background-color: red;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.button-arrow-right {
    border: none;
    transition: 500ms;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: transparent;
    border-radius: 100px;
}

.button-arrow-left {
    border: none;
    transition: 300ms;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: transparent;
    border-radius: 100px;
}

.button-arrow-left:hover, .button-arrow-right:hover{
    cursor: pointer;
    background-color: var(--text-color-dim);
}

.page-count{
    align-self: center;
}

